<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="header">
        <div>
            <img id="logo" src="assets/Images/smbxlLogo.svg" alt="smbxl-logo" />
          </div>
      <h1 class="title">Applicant Information</h1>
      <div id="logo">
        <!-- <img id="logo" src="assets/Images/smbxlLogo.svg" alt="smbxl-logo" /> -->
      </div>
      <!-- <div>
        <button class="right-button">About</button>
            <button class="right-button">settings</button>
            <button class="right-button">help</button>
      </div> -->
    </header>
    <div class="container-bg">
      <div class="content-container">
        <!-- <app-candidate-info-file></app-candidate-info-file> -->
        <!-- <app-candate-evaluation></app-candate-evaluation> -->
        <!-- <app-exit-interview-form></app-exit-interview-form> -->
        <!-- <app-candate-evaluation></app-candate-evaluation> -->
        <!-- <app-backofficedashbord></app-backofficedashbord> -->
        <!-- <app-candidate-dashbord></app-candidate-dashbord> -->
        
      </div>
    </div>

    <footer class="footer">
      <p>© 2024 Company Name. All rights reserved.</p>
    </footer>
  </body>
</html>
