
<!DOCTYPE html>
<html>
<body>

<h1>SMBXL FORMS</h1>

<button type="button" [routerLink] = "'/joining' ">Join Form</button>
<button type="button" [routerLink] = " '/' + 'candidateinfo' ">Candidate Info Form</button>
<button type="button" [routerLink] = " '/' + 'candidateEvaluation' ">Candidate Evaluation <Form></Form></button>
<button type="button" [routerLink] = " '/' + 'InterviewEvaluation' ">Interview Evaluation Form</button>
<button type="button" [routerLink] = " '/' + 'ExitInterview' ">Exit Interview Form</button>
 
</body>
</html>
