<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="candidate-info-file.component.css">
    <title>Applicant Information form</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- navbar starts here -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navigation">
        <div class="container-fluid" style="padding: 0;">
          <a class="navbar-brand logo" href="#"><img src="/assets/Images/smbxlLogo.svg" alt="SMBXL"></a>
        </div>
    </nav>
 
    <!-- <header class="header">
        <h1 class="title">Candidate Information</h1>
    </header> -->
<form *ngIf="CandidateInfo" [formGroup]="CandidateInfo">
    <div class="mainTable row">

        <div class="step-progress col-3">
            <div class="circle-container">
              <ng-container *ngFor="let circle of circles; let i = index">
                <div class="circle-with-name" [class.active]="i + 1 === currentStep" [class.completed]="i + 1 < currentStep && currentStep > 0">
                    <div class="circle" [class.active]="i + 1  === currentStep" [class.completed]="i +1 < currentStep && currentStep > 0">
                      <ng-container *ngIf="i + 1 < currentStep && currentStep > 0">&#10004;</ng-container> <!-- Tick mark -->
                      <ng-container *ngIf="!(i + 1 < currentStep && currentStep > 0)">{{ i + 1 }}</ng-container> <!-- Step number -->
                    </div>
                    <div class="name" [class.active]="i + 1=== currentStep" [class.completed]="i+1 < currentStep && currentStep > 0">{{ names[i] }}</div>
                  </div>                                             
                <!-- Add progress segment between circles -->
                <div *ngIf="i + 1 < circles.length" class="progress-segment" [class.filled]="i + 1 < currentStep - 1"></div>
              </ng-container>
            </div>
          </div>


          <div class="actual_form col-9">
            <div class="header">
                Applicant Information Form
            </div>
            <div class="subheader">
                Tell us a little about yourself so we can get to know you better
            </div>
        <!-- Personal details starts here -->
        <div *ngIf="currentStep === 1" class="Innerdiv">
        <table >
        <tbody>
        <tr colspan="3">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>First Name<span class="required_imp">*</span></p>
                            <input class="firstTwo" type="text" placeholder="Enter your first name" formControlName="name" [ngClass]="{'invalid': isInvalid('name')}">
                            <div *ngIf="isInvalid('name')" class="error-message">
                               <span *ngIf="CandidateInfo.get('name')?.hasError('required')">Name is required</span>
                               <span *ngIf="CandidateInfo.get('name')?.hasError('minlength')">Name must be at least 2 characters long.</span>
                               <span *ngIf="CandidateInfo.get('name')?.hasError('maxLength')">Name must be at least 150 characters long.</span>
                            </div>
                        </td>
                        <td>
                            <p>Last Name<span class="required_imp">*</span></p>
                            <input  class="firstTwo" type="text" placeholder="Enter your last name" formControlName="lname" [ngClass]="{'invalid': isInvalid('lname')}">
                        </td>
                        <td>
                            <p>Mobile Number<span class="required_imp">*</span></p>
                            <input class="firstTwo" id="mobileNumber" type="tel" formControlName="mobileNumber" [ngClass]="{'invalid': isInvalid('mobileNumber')}" placeholder="+91"/>
                            <div *ngIf="isInvalid('mobileNumber')" class="error-message">
                              <span *ngIf="CandidateInfo.get('mobileNumber')?.hasError('required')">Mobile number is required.</span>
                              <span *ngIf="CandidateInfo.get('mobileNumber')?.hasError('invalidPhoneNumber')">Enter a valid 10-digit mobile number.</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tr>
        <tr colspan="3">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>Email Id<span class="required_imp">*</span></p>
                            <input class="firstTwo" type="text" placeholder="Enter your email id" formControlName="emailId" [ngClass]="{'invalid': isInvalid('emailId')}">
                            <div *ngIf="isInvalid('emailId')" class="error-message">
                                <span *ngIf="CandidateInfo.get('emailId')?.hasError('required')">Email is required.</span>
                                <span *ngIf="CandidateInfo.get('emailId')?.hasError('email')">Enter a valid email address.</span>
                                <span *ngIf="CandidateInfo.get('emailId')?.hasError('invalidDomain')">Email domain is not allowed.</span>
                              </div>
                        </td>
                        <td>
                            <p>Date of Birth<span class="required_imp">*</span></p>
                            <input class="firstTwo" type="date"  placeholder="dd/mm/yy" formControlName="dateOfBirth" [ngClass]="{'invalid': isInvalid('dateOfBirth')}">
                            <div *ngIf="isInvalid('dateOfBirth')" class="error-message">
                                <span *ngIf="CandidateInfo.get('dateOfBirth')?.hasError('required')">Date of birth is required.</span>
                            </div>
                        </td>
                        <td>
                            <p>Marital Status<span class="required_imp">*</span></p>
                            <select class="firstTwo table_input" aria-placeholder="Select your marital status" id="maritalStatus" formControlName="martalStatus" [ngClass]="{'invalid': isInvalid('maritalStatus')}">
                                <option value="" disabled selected>Select your marital status</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Widowed">Widowed</option>
                                <option value="Separated">Separated</option>
                                <option value="Divorced">Divorced</option>
                              </select>
                            <div *ngIf="isInvalid('martalStatus')" class="error-message">
                               <span *ngIf="CandidateInfo.get('martalStatus')?.hasError('required')">Marital Status of required.</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tr>
        <tr colspan="3">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>Position Applied for<span class="required_imp">*</span></p>
                        <select class="nextTwo table_input" style="background-position-x: 711px;" formControlName="positionAppliedFor" [ngClass]="{'invalid': isInvalid('positionAppliedFor')}">
                            <option value="" disabled selected>Select your position applied</option>
                            <option *ngFor="let position of positionList" [value]="position">{{ position.designationName }}</option>
                          </select>
                        <div *ngIf="isInvalid('positionAppliedFor')" class="error-message">
                            <span *ngIf="CandidateInfo.get('positionAppliedFor')?.hasError('required')">Postion is requied</span>
                        </div>
                    </td>
                    <td>
                        <p>Referred By</p>
                        <input class="nextTwo" type="text" placeholder="Enter name" formControlName="referredBy" [ngClass]="{'invalid': isInvalid('referredBy')}">
                        <div *ngIf="isInvalid('referredBy')" class="error-message">
                           <span *ngIf="CandidateInfo.get('referredBy')?.hasError('required')">References is required.</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </tr>
        <tr colspan="3">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>Address Line 1<span class="required_imp">*</span></p>
                        <input class="nextTwo" type="text" placeholder="Enter your address line 1" formControlName="address1" [ngClass]="{'invalid': isInvalid('address1')}">
                    </td>
                    <td>
                        <p>Address Line 2</p>
                        <input class="nextTwo" type="text" placeholder="Enter your address line 2" formControlName="address2" [ngClass]="{'invalid': isInvalid('address2')}">
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- <td>
                <p>Date:</p>
                <input type="date" formControlName="date"  [ngClass]="{'invalid': isInvalid('date')}">
                <div *ngIf="isInvalid('date')" class="error-message">
                   <span *ngIf="CandidateInfo.get('date')?.hasError('required')">Date is required</span>
                </div>
            </td> -->
            <!-- <td>
                <p>Complete Address:</p>
                <textarea formControlName="completeAddress" [ngClass]="{'invalid': isInvalid('completeAddress')}"></textarea>
                <div *ngIf="isInvalid('completeAddress')" class="error-message">
                    <span *ngIf="CandidateInfo.get('completeAddress')?.hasError('required')">Complete Address is required.</span>
                    <span *ngIf="CandidateInfo.get('completeAddress')?.hasError('minlength')">Complete Address must be at least 10 characters long. </span>
                </div>
            </td> -->
        </tr>
        <tr>
            <table>
                <tr>
                    <td>
                        <p>Pin Code<span class="required_imp">*</span></p>
                        <input class="firstTwo" type="text" placeholder="Enter your pin code" formControlName="address2" [ngClass]="{'invalid': isInvalid('address2')}">
                    </td>
                    <td>
                        <p>City<span class="required_imp">*</span></p>
                        <input class="firstTwo table_input" list="cityList" formControlName="martalStatus" [ngClass]="{'invalid': isInvalid('maritalStatus')}">
                        <datalist id="cityList">
                            <option *ngFor="let citysname of statesandcitysList" value={{citysname.nameOfCity}}>{{citysname.nameOfCity}}</option>
                        </datalist>
                    </td>
                    <td>
                        <p>State<span class="required_imp">*</span></p>
                        <input class="firstTwo table_input" list="StateList" formControlName="martalStatus" [ngClass]="{'invalid': isInvalid('maritalStatus')}">
                        <datalist id="StateList">
                            <option *ngFor="let statedata of statesList" value={{statedata}}>{{statedata}}</option>
                        </datalist>
                    </td>
                </tr>
            </table>
        </tr>
        </tbody>
        </table>
        </div>
        <!-- educational details starts here -->
        <div *ngIf="currentStep === 2" class="details-container Innerdiv">
        <h3 class="Header3">Eductional Details:</h3>
        <p class="hdescription">Tell us about your educational background....</p>
        <div class="edu_wrapper">
            <table id="educationTable" class="educationTable"style="width: 100%; ">
                <tr class="seperator">
                            <th>Degree</th>
                            <th>Sepecialization</th>
                            <th style="width: 30%;">School/College/University Name</th>
                            <th>Year of Passing</th>
                            <th>Percentage</th>
                            <th>CGPA/SGPA</th>
                </tr>
                <ng-container *ngFor="let educationDetail of educationDetails().controls; let i = index" formArrayName="educationDetails">
                    <tr [formGroupName]="i" class="seperator">
                        <td>  
                            <select formControlName="degree" style="width: 88%;margin-left: 20px;margin-top: 8px;">
                                <option *ngFor="let degreenames of DegreeList" [value]="degreenames.degree" (change)="onOptionsSelected($event)">{{degreenames.degree}}</option>
                            </select>
                       </td>
                        <td>
                            <input class="table_input" type="text" list="specializationlist" formControlName="specialization" style="margin-left: 7px;margin-top: 19px;width: 94%;" />
                            <datalist id="specializationlist">
                                <option *ngFor="let spelist of filteredSpecializations" [value]="spelist.specializationName">
                                    {{spelist.specializationName}}
                                </option>
                            </datalist>
                        </td>
                        <td>                    
                        <input type="text" list="collagelistdata" class="table_input" placeholder="Search degree" [(ngModel)]="searchTerm" class="table_input_search" formControlName="collageOrUniversity" style="height: 18px;width: 90%;">
                        <datalist id="collagelistdata">
                            <option *ngFor="let degree of CollageList | filter:searchTerm | slice:0:50 " [value]="degree.collegeName">
                                {{ degree.collegeName }}
                            </option> 
                        </datalist>
                        </td>
                         <td><input class="table_input edu_input" type="date" placeholder="Year of Passing" formControlName="yearOfPassing" style="width: 89%;"/></td>
                        <td><input class="table_input edu_input" type="text" placeholder="Percentage" formControlName="percentage" /></td>
                        <td><input class="table_input edu_input" type="text" placeholder="CGPA/SGPA" formControlName="percentage" /></td>
                    </tr>
                  </ng-container>
                  <tr><td colspan="6"><button class="add_button"  type="button" (click)="addEducationDetail()">Add+</button></td></tr>
            </table>
        </div>
        </div>
        <!-- family details starts here -->
        <div  *ngIf="currentStep === 3" class="section Innerdiv">
        <h3 class="Header3">Family Details:</h3>
        <p class="hdescription">Tell us a little about your family....</p>
        <div class="edu_wrapper">
        <table class="fam_details">
            <tr>
                <th>Name</th>
                <th>Relationship</th>
                <th>DateOfBirth</th>
                <th>Occupation</th>
            </tr>
            <ng-container  *ngFor="let familyDetails of familyDetails().controls; let i = index" formArrayName="familyDetails">
                <tr [formGroupName]="i">
                    <td> 
                        <input type="text" class="input_adjuster" id="fname" formControlName="name">
                    </td>
                    <td> 
                        <select class="table_input" id="maritalStatus" formControlName="martalStatus" style="margin-left: 10px;margin-top: 0;  width: 96%;border: 1px solid #bfc1c3;" [ngClass]="{'invalid': isInvalid('maritalStatus')}">
                            <option value="" disabled selected>-Select Marital Status-</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="spouse">spouse</option>
                            <option value="cousin">cousin</option>
                        </select>
                    </td>
                    <td> 
                        <input type="date" class="input_adjuster" id="fname" formControlName="dateOfBirth">
                    </td>
                    <td> 
                        <input type="text" class="input_adjuster" id="fname" formControlName="occupation">
                    </td>
                </tr>
            </ng-container>
            <td colspan="6">
                <button class="btn btn-default add_button" type="button" (click)="addfamilyDetails()">Add+</button>
            </td>
        </table>
        </div>
        </div>
        <!-- Professional reference starts here -->
        <div *ngIf="currentStep === 4" class="Innerdiv">
        <p class="Header3">Professional Reference: </p>
        <p class="hdescription">For background verification...</p>
        <div class="edu_wrapper">
        <table id="professioanalReference" style="width: 100%;">
            <tr>
                <th>Name</th>
                <th>Organisation</th>
                <th>Designation</th>
                <th>Contact No</th>
                <th>Email Id</th>
            </tr>
            <!-- <ng-container formArrayName="professionalReferenceData"> -->
            <ng-container *ngFor="let educationDetail of professionalReferenceData().controls; let i = index" formArrayName="professionalReferenceData">
                <tr [formGroupName]="i">
                    <td><input class="table_input" type="text" formControlName="name"/></td>
                    <td><input class="table_input" type="text" formControlName="organisation"/></td>
                    <td><input class="table_input" type="text"  formControlName="designation" /></td>
                    <td><input class="table_input" type="text" formControlName="contactNo" /></td>
                    <td><input class="table_input" type="text" formControlName="emailId" /></td>
                
                </tr>
              </ng-container>
              <td colspan="6">
                <button class="btn btn-default add_button" type="button" (click)="addfamilyDetails()">Add+</button>
            </td>
              <!-- <td><p class="add" (click)="addprofessionalReferenceData()"> + Add</p></td> -->
            <!-- </ng-container> -->
        </table>
        </div>
        </div>
<!-- Work details starts here -->
        <div class="outer container Innerdiv" *ngIf="currentStep === 4">
        <div class="experience-container">
            <p class="leftAlign Header3">Total Experience : </p>
            <div class="input-boxes">
                <label for="years">Years: <input type="number" id="years" name="years"></label>
                <label for="months">Months: <input type="number" id="months" name="months"></label>
            </div>
            <div>
                <div class="edu_wrapper">
                <table class="fam_details ">
                    <tr>
                       <th>Company Name</th>
                       <th>Designation</th>
                       <th>CTC (Specify if variable pay)</th>
                       <th>Start Date</th>
                       <th>End Date</th>
                       <th>Reason for leaving</th>
                    </tr>
                    <ng-container *ngFor="let educationDetail of employmentDetailsData().controls; let i = index" formArrayName="employmentDetailsData">
                        <tr [formGroupName]="i">
                            <td><input class="table_input" type="text" formControlName="organizations"/></td>
                            <td><input class="table_input" type="text" formControlName="designation"/></td>
                            <td><input class="table_input" type="date"  formControlName="from" /></td>
                            <td><input class="table_input" type="date" formControlName="to" /></td>
                            <td><input class="table_input" type="text" formControlName="annualCTC" /></td>
                            <td><input class="table_input" type="text" formControlName="reasonForLeaving" /></td>
                        
                        </tr>
                      </ng-container>
                      <!-- <td><p class="add" (click)="addemploymentDetails()"> + Add</p></td> -->
                      <td colspan="6">
                        <button class="btn btn-default add_button" type="button" (click)="addfamilyDetails()">Add+</button>
                    </td>
                </table>
                </div>
            </div>
        </div>
        </div> 
        <!-- declaration starts here  -->
        <div class="other_info Innerdiv" *ngIf="currentStep === 5">                  
           <table>
            <tr>
                <p class="declarationp">Reasons (if break in service): <textarea formControlName="completeAddress" [ngClass]="{'invalid': isInvalid('completeAddress')}" style="width: 60% !important;margin-left: 0 !important;margin-top: 10px !important;"></textarea>
                </p>
            </tr>
            <tr><p class="declarationp">Notice Period in the present profile:<input type="text" formControlName="noticePeriod" class="declaration_form"></p></tr>
            <tr><p class="declarationp">Expected CTC:<input type="text" formControlName="expectedCTC" class="declaration_form"></p></tr>
           </table>    
        </div><br><br>
        <div class="declaration" *ngIf="currentStep === 5" class="Innerdiv">
            <h3 class="Header3">Declaration:</h3>
            <p>I certify that the above information is correct and complete to the best of my knowledge and nothing has been concealed. If selected and appointed, should I be found to have concealed any given information, my appointment shall be liable to be terminated without notice or compensation.</p><br><br>
        </div>
        <div class="date_sig Innerdiv"*ngIf="currentStep === 5">
        <div class="row">
        <table>
            <tr>
                <td>
                    <p>Date:</p>
                    <input type="date" formControlName="declarationDate">
                </td>
                <td>
                    <p>Signature:</p>
                    <input type="text" formControlName="declarationSignature">
                </td>
            </tr>
        </table>
        </div>
        </div>

        <div class="nextButton">
            <button *ngIf="currentStep !== 1" type="button" class="secondary_button" (click)="updateSteps('prev')"><img class="left" src="/assets/Images/left arrow.svg" alt="left">Back</button>
            <button *ngIf="currentStep !== circles.length" type="button" class="next_active" [disabled]="CandidateInfo.invalid" (click)="updateSteps('next')">Next</button>
            <button *ngIf="currentStep === circles.length" type="button" class="primary_button submit" (click)="submitCandidateInfoForm()">Submit</button>
        </div>
        </div>
    </div>
</form>
</body>
</html>
