.primary_button{
  width: auto;
  height: 45px;
  cursor: pointer;
  background-color: #1B3D6E;
  border: 1px solid #1B3D6E;
  color: #fff;
  padding:0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.next_active{
  width: auto;
  height: 45px;
  cursor: pointer;
  background-color: #1B3D6E;
  border: 1px solid #1B3D6E;
  color: #fff;
  padding:0 40px 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-image: url("/assets/Images/right_arrow_white.svg");
  background-repeat: no-repeat;
  background-position-x: 63px;
background-position-y: 15px;
background-size: 17px;
}
.right{
  padding-left: 10px;
}
.left{
  padding-right: 10px;
}
.secondary_button{
  width: auto;
  height: 45px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #1B3D6E;
  color: #1B3D6E;
  padding:0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
/* .disabled{
  width: auto;
  height: 45px;
  background-color: #0000000A;
  color: #C8C8C8;
  font-family: "Montserrat", sans-serif;
  cursor: not-allowed;
  border: 1px solid #C8C8C8;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 43px;
  background: url("right arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 76px;
  background-position-y: 14px;
} */
button:disabled {
  background-color: #0000000A;
  color: #AFAFAF;
  font-family: "Montserrat", sans-serif;
  cursor: not-allowed;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  /* padding-left: ; */
  background: url("/assets/Images/grey_arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 68px;
background-position-y: 15px;
}
.add_button {
  padding: 6px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  float: right;
  /* position: absolute; */
right: 361px;
color: #1B3D6E;
background-color: transparent;
border: 1px solid #1B3D6E;
}

.buttondata:hover {
  background-color: #646667;
  color: #fff;
}
.nextButton{
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.mainTable {
  display: flex;
}
/* navbar styles starts here*/
.logo{
  width: 194px;
  height: 41px;
  padding: 0;
}
.navigation{
  box-shadow: 0 2px 12px #1B3D6E1F;
  padding: 26px 0 26px 35px;
}
/* Actual form starts here */
.actual_form{
  padding: 55px 25px 55px 55px;
}
.header{
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #1B3D6E;
}
.subheader{
  padding-top: 11px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #1B3D6E99;
}

/* personal details styles starts here */
.required_imp{
  color: #FF0505CC;
}
.error-message {
  color: red;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
  width: 327px;
}
.Innerdiv{
 margin-top: 50px;
}
p{
  font-size: 15px;
  font-weight: 500;
  color: #1B3D6ECC;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
}
.firstTwo{
  padding: 0;
  width: 480px;
height: 40px;
border-radius: 5px;
border: 1px solid #D9D9D9;
padding-left: 14px;
}
.nextTwo{
  padding: 0;
  width: 743px;
height: 40px;
border-radius: 5px;
border: 1px solid #D9D9D9;
padding-left: 14px;

}
td{
width: 32%;
  padding-bottom: 25px;
  margin: 0;
}
.table_input{
  padding: 0;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #1B3D6E66;
  padding-left: 14px;
  padding-right: 17px;
  appearance: none;
  background: url("/assets/Images/Vector\ 84.svg");
  background-repeat: no-repeat;
  background-position-x: 294px;
  background-position-y: 16px;
  box-shadow: none;
}
option{
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
}
::placeholder ,input[type="date"]{
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #1B3D6E66;
  padding-right: 11px;
}

#professioanalReference td {
    width: unset;
}
.leftAlign{
    padding-top: 20px;
    text-align: left;
}
.experience-container td{
width: unset;
}
.experience-container th{
    padding:10px;
}
#professioanalReference th{
    padding: 10px;
}
/* #professioanalReference{
  background-color: beige;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
box-shadow: 0 0 10px #e1d9c6;
} */
.add{
    background: none!important;
    border: none!important;
    text-decoration: underline;
    color:#007bff;
}

.mainTable table {
    border-collapse: collapse;
    width: 100%;
}
/* .mainTable td {
    padding: 0 75px ;
} */

#educationTable tr, #educationTable td{
    width:unset!important;
}
.edu_wrapper{
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
    background-color: #f8fafc;
  /* box-shadow: 0 0 10px #c6c6c6; */
 height: auto;
 padding: 0px 21px;
 border-radius: 20px;
}
#educationTable{
  padding: 10px;
}
#educationTable th{
    padding:10px 0;
}
#educationTable td{
    padding:0!important;
}
.edu_input{
  border: none;
}
#educationTable tr th{
  font-family: "Nunito", sans-serif;

}
.section tr,.section td{
width: unset!important;
padding: 0!important;
}
.section th{
    padding: 10px;
    font-family: "Nunito", sans-serif;

}
.section input{
    border:1px solid #bfc1c3 !important;
}
#educationTable input{
  border: none;
}
/* .fam_details{
  background-color: beige;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
box-shadow: 0 0 10px #e1d9c6;
} */
/* .fam_details tr th:nth-child(1){
  border-top-left-radius: 20px;
  background-color:#f0f0f0; ;
}
.fam_details tr th{
  background-color:#f0f0f0; ;
  font-family: "Nunito", sans-serif;

}
.fam_details tr th:last-child{
  border-top-right-radius: 20px;
  background-color:#f0f0f0; ;
}
#professioanalReference tr th:nth-child(1){
  border-top-left-radius: 20px;
  background-color:#f0f0f0;;
}
#professioanalReference tr th{
  background-color:#f0f0f0; 
  font-family: "Nunito", sans-serif;

}
#professioanalReference tr th:last-child{
  border-top-right-radius: 20px;
  background-color:#f0f0f0; ;
} */
 
/* table tr th:nth-child(1){
 border-left: 1px solid #000;
 border-radius: 25px;

}
table tr th:last-child{
  border-right: 1px solid #000;
  border-radius: 25px;
 
 } */
  
/* table tr td{
    text-align: center;
} */
/* .input_adjuster{
    width: 80%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px dotted #000;
}
.input_adjuster_date{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px dotted #000;
} */
/* .colors table tr td:nth-child(1){
    height: 5px;
    background-color: #f9a71c;
    border: none;
}
.colors table tr td:nth-child(2){
    height: 5px;
    background-color: #d81f29;
    border: none;
}
.colors table tr td:nth-child(3){
    height: 5px;
    background-color: #1b3d6e;
    border: none; 
}*/
.details-container {
    /* border-bottom: 1px solid #000; Apply a border between sections */
    padding: 20px;
  }

  
  .section {
    padding: 20px; /* Add some padding if needed */
  }

/* progress bar style starts here */

  .step-progress {
    position: relative;
    width: 340px;
    background-color: #E7F1FF;
  }
  
  .circle-container {
    position: absolute;
  top: 175px;
  left: 47px;
  }
  .circle-with-name {
    display: flex;
    align-items: center;
    position: relative;
  }
  .circle-with-name.active {
    position: relative;
    margin-left: 19px;
    width: 321px;
    height: 59px;
    background-color: #fff; /* Your active background color */
    border-top-left-radius:50px ;
    border-bottom-left-radius: 50px;
  }
  .circle-with-name.active::before{
    content: " ";
    position: absolute;
    width: 3px;
    height: 59px;
    background-color: #1B3D6E;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 318px;
  }
  .circle-with-name.completed {
    background-color: transparent; /* Ensure no active style is applied */
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border: 2px solid #1B3D6E;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 35px;
    margin-right: 15px;
    color: #1B3D6E;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  
  .circle.active {
    margin-left: 14px;
    background-color: #1B3D6E;
    width: 44px;
    height: 44px;
    border: 7px solid #d4dae3;
    color: #fff;
  }
  .circle.completed {
    border-color: #0b0000; /* Border color for completed step */
    background-color: #fff; /* Background color for completed step */
    color: #0b0000; /* Text color for completed step */
  }
  .progress-segment {
    flex-grow: 1;
    width: 2px;
    height: 31px;
    background-color: #1B3D6E;
    position: relative;
    left: 54px;
    z-index: 0;
  }
  
  .progress-segment.filled {
    background-color: #144B70;
    /* background-color: #e0e0e0; */
  }
  .name-container {
  }
  
  .name {
    font-weight: 400;
    font-size: 18px;
    color: #567198;
    font-family: "Montserrat", sans-serif;
  }
  .name.active{
    font-weight: 500;
    font-size: 22px;
  }
  
  .invalid {
    border: 2px solid red;
  }
  
  .experience-container {
    width: 100%;
    text-align: center;
}

.input-boxes {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 10px;
}

.input-boxes label {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.declaration_form{
  width: 60% !important;
  margin-left: 0 !important;
}
.input-boxes input {
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
}
.input-boxes input{
    padding: 10px;
}
.input-boxes{
    gap: 50px;
}
/* .declarationp {
  pass
} */
/* .progress-segment.filled {
  background-color: #144B70;
  /* background-color: #e0e0e0; */
/* }  */
/* .progress-segment {
  flex-grow: 1;
  height: 3px;
  background-color: #144B70;
  position: relative;
  top: 13px;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
} */
/* .circle.active {
  background-color: #7ED560;
  color: #fff;
} */


 /* responsive starts here */
@media only screen and (min-width: 1201px) and (max-width: 1600px){
.firstTwo{
  width: 327px;
}
.nextTwo{
  width: 508px;
}
}