<!DOCTYPE html>
<html lang="en">

<body>
    <header class="header">
        <h1 class="title">Candidate Information</h1>
    </header>
    <!-- <div class="step-progress">
        <div class="circle-container">
          <div class="circle" *ngFor="let circle of circles; let i = index" [class.active]="i < currentStep"></div>
        </div>
        <div class="progress-container">
          <div class="indicator" [style.width.%]="progressWidth"></div>
        </div>
        <div class="button-container">
           <button id="prev" (click)="updateSteps('prev')" [disabled]="currentStep === 1">Previous</button>
          <button id="next" (click)="updateSteps('next')" [disabled]="currentStep === circles.length">Next</button> 
        </div>
      </div> -->

    <div class="mainTable">
        <div class="step-progress">
            <div class="circle-container">
              <ng-container *ngFor="let circle of circles; let i = index">
                <div class="circle" [class.active]="i < currentStep">{{ i + 1 }}</div>
                <!-- Add progress segment between circles -->
                <div *ngIf="i < circles.length - 1" class="progress-segment" [class.filled]="i < currentStep - 1"></div>
              </ng-container>
            </div>
            <div class="button-container">
              <!-- <button id="prev" (click)="updateSteps('prev')" [disabled]="currentStep === 1">Previous</button>
              <button id="next" (click)="updateSteps('next')" [disabled]="currentStep === circles.length">Next</button> -->
            </div>
          </div>
       <div *ngIf="currentStep === 1">
        <h3>
            Personal Details:
          </h3>
    <table>
        <tr>
            <td>
                <p>Name:</p>
                <input type="text" placeholder="Full Name" formControlName="name">
            </td>
            <td>
                <p>Designation</p>
                <input type="text" placeholder="Specify Position" formControlName="designation" >
            </td>
        </tr>
        <tr>
            <td>
                <p>Start Date With Organisation</p>
                <input type="date" placeholder="References" formControlName="startDateWithOrganization">
            </td>
            <td>
                <p>Date of Resignation</p>
                <input type="date" formControlName="dateOfResignation">
            </td>
        </tr>
        <tr>
            <td>
                <p>Separation Date</p>
                <input type="text" formControlName="separationDate">
            </td>
            <td>
                <p>Total length of service</p>
                <input type="text" placeholder="Email Id" formControlName="totalLengthOfService">
            </td>
        </tr>
        <tr>
            <td>
                <p>Marital Status:</p>
                <input type="text" placeholder="Marital Status">
            </td>
        </tr>
    </table>
       </div>
       <div *ngIf="currentStep === 2">
        <h3>Please describe the primary reason(s) you are leaving your current position.</h3>
        <div class="question-container">
            <p class="question">1Q.Type of work performed?</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
            </div>
            <p class="question">2Q.Fairness of workload?</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
            </div>
            <p class="question">3Q.Salary?</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
            </div>
            <p class="question">4Q.Working condition?</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                    <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                    <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                    <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                    <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
                </div>
                <p class="question">5Q.Tools and equipment provided?</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                    <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                    <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                    <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                    <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
                </div>
                <p class="question">6Q.Training received?</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                    <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                    <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                    <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                    <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
                </div>
                <p class="question">7Q.Supervision received?</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                    <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                    <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                    <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                    <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
                </div>
                <p class="question">8Q.Level of input in decisions that affected you?</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1"> 1<br>Poor</label>
                    <label><input type="radio" name="satisfaction" value="2"> 2<br>Unsatisfactory</label>
                    <label><input type="radio" name="satisfaction" value="3"> 3<br>Average</label>
                    <label><input type="radio" name="satisfaction" value="4"> 4<br>Very satisfactory</label>
                    <label><input type="radio" name="satisfaction" value="5"> 5<br>Excellent</label>
                </div>
        </div>
       </div>
       <div *ngIf="currentStep === 3">
        <h3>Did dissatisfaction with any of the following factors influence your decision to leave?</h3>
        <div class="question-container">
            <p class="question">1Q.Type of work</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1">Yes</label>
                <label><input type="radio" name="satisfaction" value="2">No</label>
            </div>
            <p class="question">2Q.Working conditions (setting, schedule, flexibility)</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1">Yes</label>
                <label><input type="radio" name="satisfaction" value="2">No</label>
            </div>
            <p class="question">3Q.Pay</p>
            <div class="radio-buttons">
                <label><input type="radio" name="satisfaction" value="1">Yes</label>
                <label><input type="radio" name="satisfaction" value="2">No</label>
            </div>
            <p class="question">4Q.Management</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1">Yes</label>
                    <label><input type="radio" name="satisfaction" value="2">No</label>
                </div>
                <p class="question">5Q.Location</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1">Yes</label>
                    <label><input type="radio" name="satisfaction" value="2">No</label>
                </div>
                <p class="question">6Q.Commute</p>
                <div class="radio-buttons">
                    <label><input type="radio" name="satisfaction" value="1">Yes</label>
                    <label><input type="radio" name="satisfaction" value="2">No</label>
                </div>
        </div>
       </div>
        <div class="nextButton">
            <button type="button" class="buttondata" (click)="updateSteps('prev')" [disabled]="currentStep === 1">Previous</button>
            <button type="button" class="buttondata" (click)="updateSteps('next')" [disabled]="currentStep === circles.length">Next</button>
        </div>
    </div>
    <footer class="footer">
        <p>© 2024 Company Name. All rights reserved.</p>
    </footer>
</body>
</html>
