<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submit</title>
</head>
<body style="background-color: #fff;" class="popup-content" class="popup-content">
    <div class="wrapper" style="width: 100%;height: 60vh;display: flex;justify-content: center;align-items: center;">
        <div class="content" style="width: 600px;height: 250px;background-color: aliceblue;border: 1px solid #000000;border-radius: 20px;z-index: 100;">
            <p style="font-size: 25px;padding-top: 78px;text-align: center;">Form Submitted Successfully</p>
        </div>
    </div>
    <div class="centered-button-container">
        <button type="button" class="buttondata " (click)="close()">close</button>
    </div>
</body>
</html>